RewriteEngine On

# Serve static files directly from the public directory
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^public/(.*)$ public/$1 [L]

# Rewrite requests to the router.php file for all files or directories
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ router.php?url=$1 [QSA,L]

# Redirect root URL to the dashboard page
RewriteRule ^$ /dashboard [R=302,L]